.left-side__title-block_position_middle {
    vertical-align: middle;
}

.left-side__item-title {
    color: #313d47;
    font-size: 1.06rem;
    font-weight: 700;
    padding-bottom: 25px;
    padding-top: 25px;
}

.marketing-model__title {
    text-align: center;
    color: #727689;
    font-size: 1.17rem;
    font-weight: 400;
    padding-bottom: 23px;
}