mixin news()
    .right-side__container(id="news")
        .right-side__body
            .right-side__body-inner
                .right-side__body-item.right-side__body-item_type_from-me
                    .right-side__text-block.right-side__text-block_type_from-me Практика однозначно показывает, что продуктовый ассортимент экономит экспериментальный бизнес-план. 
                    .spacer(style="clear: both;")
                .right-side__body-item.right-side__body-item_type_from-user
                    .right-side__text-block.right-side__text-block_type_from-user Практика однозначно показывает, что продуктовый ассортимент экономит экспериментальный бизнес-план. 
                    .spacer(style="clear: both;")
                .right-side__body-item.right-side__body-item_type_from-me
                    .right-side__text-block.right-side__text-block_type_from-me Хорошо
                    .spacer(style="clear: both;")
                .right-side__body-item.right-side__body-item_type_from-user
                    .right-side__text-block.right-side__text-block_type_from-user Практика однозначно показывает, что продуктовый ассортимент экономит экспериментальный бизнес-план. 
                    .spacer(style="clear: both;")
                .right-side__body-item.right-side__body-item_type_from-me
                    .right-side__text-block.right-side__text-block_type_from-me Практика однозначно показывает, что продуктовый ассортимент экономит экспериментальный бизнес-план. 
                    .spacer(style="clear: both;")
            