include ../users-icon/users-icon.pug
include ../help-icon/help-icon.pug
include ../upload-icon/upload-icon.pug
include ../user-icon/user-icon.pug
include ../repeat-icon/repeat-icon.pug
include ../left-icon/left-icon.pug
include ../right-icon/right-icon.pug

mixin header(header_min)
	header.header.clearfix
		- var header_min = header_min
		if header_min
			.header__col-logo
				.header__logo
					a.header__logo-link(href='index.html')
						img.header__logo-img(src='img/logo.png', srcset= 'img/logo@2x.png 2x', alt='logo')
						img.header__logo-img.header__logo-img_min(src='img/min-logo.png', srcset= 'img/logo@2x.png 2x', alt='logo')
			.header__col-info
				.header__info.clearfix
					.header__info-company
						.header__info-cnt
							span.header__info-txt Компания
							span.header__info-val Tesla Motors
					.header__info-gamer
						.header__info-cnt
							span.header__info-txt Игрок
							span.header__info-val Алексей
					.header__info-year
						.header__info-cnt
							span.header__info-txt Год
							span.header__info-val 2018
						button.header__info-btn.header__info-btn_repeat.btn(type="button")
							+repeat-icon()
					.header__info-step
						.header__info-cnt
							span.header__info-txt.text-center Ход
							span.header__info-val.text-center  28
						button.header__info-btn.header__info-btn_prev.btn(type="button")
							+left-icon()
						button.header__info-btn.header__info-btn_next.btn(type="button")
							+right-icon()

			.header__col-menu
				.header__menu.clearfix
					.header__menu-edit
						a.header__menu-link(href='')
							.header__menu-img-wrap
								+users-icon()
							span.header__menu-text
								| Совместное редактирование
					.header__menu-decision
						a.header__menu-link(href='')
							.header__menu-img-wrap
								+upload-icon()

							span.header__menu-text Решение
					.header__menu-help
						a.header__menu-link(href='#modal-help' data-toggle="modal" data-target="#modal-help")
							.header__menu-img-wrap
								+help-icon()
							span.header__menu-text Справка
					.header__menu-cabinet
						a.header__menu-link(href='#password-modal' data-toggle="modal" data-target="#password-modal")
							.header__menu-img-wrap
								+user-icon()
							span.header__menu-text
								| Личный кабинет
		else
			.header-min
				.header-min__col
					.header-min__logo
						a.header-min__logo-link(href='index.html')
							img.header-min__logo-img(src='img/logo.png', srcset= 'img/logo@2x.png 2x', alt='logo')
							img.header-min__logo-img.header-min__logo-img_min(src='img/min-logo.png', srcset= 'img/logo@2x.png 2x',  alt='logo')
				.header-min__col
					.header-min__menu.clearfix
						.header-min__menu-cabinet
							a.header-min__menu-link(href='#password-modal' data-toggle="modal" data-target="#password-modal")
								.header-min__menu-img-wrap
									+user-icon()
								span.header-min__menu-text Личный кабинет
