mixin top-line()
	.top-line
		form.top-line__form
			.top-line__group
				label.top-line__lbl.lbl Поток
				select.top-line__select.select-style.form__select
					option(selected='') Поток №1
					option Поток №2
					option Поток №3
			.top-line__btns
				button.btn.top-line__btn-save(type="button") Сохранить конфигурацию
				button.btn.top-line__btn-load(type="button") Загрузить конфигурацию
