extends layout/main.pug
include ../blocks/nav-panel/nav-panel.pug
include ../blocks/model-content/model-content.pug
include ../blocks/left_side/model-left-side/model-left-side.pug
include ../blocks/modal-password/modal-password.pug
include ../blocks/modal-help/modal-help.pug
include ../blocks/right-side/right-side
include ../blocks/left_side/left-side-btn/left-side-btn.pug

block title
    title model

block pagecontent
    .page
        +header(true)
        +left-side-btn()
        +model-left-side()
        +nav-panel()
        +model-content()
        +right-side()
        +modal-password()
        +modal-help()

append scripts
    script(src='js/lib/niceSelect/jquery.nice-select.min.js')
    script(src='js/lib/owlCarousel/owl.carousel.min.js')
    script(src='js/lib/perfect-scrollbar.jquery.min.js')    