extends layout/main.pug
include ../blocks/personnel/personnel.pug
include ../blocks/left_side/personnel-left-side/personnel-left-side.pug
include ../blocks/nav-panel/nav-panel.pug
include ../blocks/modal-password/modal-password.pug
include ../blocks/modal-help/modal-help.pug
include ../blocks/right-side/right-side
include ../blocks/left_side/left-side-btn/left-side-btn.pug


block title
    title Personnel

block pagecontent
    .page
        +header(true)
        +nav-panel()
        +left-side-btn()
        +personnel-left-side()
        +personnel()
        +right-side()
        +modal-password()
        +modal-help()
append scripts
    script(src='js/lib/perfect-scrollbar.jquery.min.js')














