.params-block {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-align: center;
  font-size: 0;
  @media (max-width: 1200px) {
    padding: 0;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.param {
  width: 50%;
  float: left;
  text-align: center;
  padding: 15px;
  position: relative;
  @media (max-width: 1440px) {
    padding: 11px;
  }
  &:before, &:after {
    content: "";
    position: absolute;
    background-color: #b6b6b6;
  }
  &:nth-child(odd):before {
    top: 15%;
    right: 0;
    height: 70%;
    width: 1px;
  }
  &:after{
    bottom: 0;
    right: 10%;
    width: 80%;
    height: 1px;
  }
  &:nth-last-child(1):after,
  &:nth-last-child(2):after{
    display: none;
  }
}
.param_3 {
  width: 33%;
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  float: none;

  @media (max-width: 1860px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: 1700px) {
    width: 49%;
  }
  &:before, &:after {
    display: none;
  }
  &:first-child {
    padding-right: 50px;
    @media (max-width: 1860px) {
      padding-right: 10px;
    }
  }
  &:last-child {
    padding-left: 65px;
    @media (max-width: 1860px) {
      padding-left: 10px;
    }
  }

}

.param__img {
  height: 117px;
  margin-bottom: 11px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @media (max-width: 1440px) {
    height: 78px;
    margin-bottom: 10px;
  }
}
.param__text {
  font-weight: 700;
  color: #313d47;
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  letter-spacing: -0.5px;
  @media (max-width: 1440px) {
    line-height: 1.1;
  }
}
.param__count {
  color: #60a6f7;
  font-size: 1.9rem;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}