include ../widget_panel/widget_panel.pug
include ../model/model.pug
mixin finance-content()
    .model-content.content
        .content__inner.clearfix
            +widget_panel()
            .content__cols
                .content__col
                    .widget
                        .widget__title.widget__title-min
                            .widget__title-cnt
                                span.widget__title-txt Кредитный рейтинг
                                sapn.widget__title-h
                                    svg.widget__title-h-img(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 473.733 473.733', style='enable-background:new 0 0 473.733 473.733;', xml:space='preserve')
                                        path(d='M231.2,336.033c-9.35,0-17,7.65-17,17v11.333c0,9.35,7.65,17,17,17s17-7.65,17-17v-11.333\
                                    									  C248.2,343.683,240.55,336.033,231.2,336.033z')
                                        path(d='M236.867,473.733c130.617,0,236.867-106.25,236.867-236.867S367.483,0,236.867,0S0,106.25,0,236.867\
                                    									  S106.25,473.733,236.867,473.733z M236.867,34c111.917,0,202.867,90.95,202.867,202.867s-90.95,202.867-202.867,202.867\
                                    									  S34,348.783,34,236.867S124.95,34,236.867,34z')
                                        path(d='M163.2,194.367C163.483,194.367,163.483,194.367,163.2,194.367c9.35,0,17-7.083,17-16.433c0,0,0.283-13.6,7.083-26.917\
                                    									  c8.5-17,23.517-25.5,45.617-25.5c20.683,0,35.983,5.667,44.483,16.717c7.083,9.067,9.067,21.533,5.667,35.133\
                                    									  c-4.25,16.717-18.7,31.167-32.583,45.333c-17,17.567-34.85,35.417-34.85,59.5c0,9.35,7.65,17,17,17s17-7.65,17-17\
                                    									  c0-10.2,12.183-22.667,25.217-35.7c16.15-16.433,34.567-35.133,41.083-60.633c6.233-23.517,1.983-47.033-11.617-64.317\
                                    									  c-10.483-13.6-31.45-30.033-71.117-30.033c-44.483,0-65.733,23.8-75.933,44.2c-10.2,20.4-10.767,39.95-10.767,42.217\
                                    									  C146.483,187,153.85,194.367,163.2,194.367z')
                                    span.widget__help
                                        p
                                            | Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми
                                            | я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю,
                                            | словно созданном для таких, как я.
                            a.widget__title-arrow(href='')
                                img.widget__title-arrow-ico(src='img/chevron-down.png', alt='icon')
                        .widget__body.widget__body_pd
                            img.chart(src='img/finance-img.png', alt='icon')

                .content__col
                    .widget
                        .widget__title
                            .widget__title-cnt
                                span.widget__title-txt Показатели компании
                                sapn.widget__title-h
                                    svg.widget__title-h-img(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 473.733 473.733', style='enable-background:new 0 0 473.733 473.733;', xml:space='preserve')
                                        path(d='M231.2,336.033c-9.35,0-17,7.65-17,17v11.333c0,9.35,7.65,17,17,17s17-7.65,17-17v-11.333\
                                    									  C248.2,343.683,240.55,336.033,231.2,336.033z')
                                        path(d='M236.867,473.733c130.617,0,236.867-106.25,236.867-236.867S367.483,0,236.867,0S0,106.25,0,236.867\
                                    									  S106.25,473.733,236.867,473.733z M236.867,34c111.917,0,202.867,90.95,202.867,202.867s-90.95,202.867-202.867,202.867\
                                    									  S34,348.783,34,236.867S124.95,34,236.867,34z')
                                        path(d='M163.2,194.367C163.483,194.367,163.483,194.367,163.2,194.367c9.35,0,17-7.083,17-16.433c0,0,0.283-13.6,7.083-26.917\
                                    									  c8.5-17,23.517-25.5,45.617-25.5c20.683,0,35.983,5.667,44.483,16.717c7.083,9.067,9.067,21.533,5.667,35.133\
                                    									  c-4.25,16.717-18.7,31.167-32.583,45.333c-17,17.567-34.85,35.417-34.85,59.5c0,9.35,7.65,17,17,17s17-7.65,17-17\
                                    									  c0-10.2,12.183-22.667,25.217-35.7c16.15-16.433,34.567-35.133,41.083-60.633c6.233-23.517,1.983-47.033-11.617-64.317\
                                    									  c-10.483-13.6-31.45-30.033-71.117-30.033c-44.483,0-65.733,23.8-75.933,44.2c-10.2,20.4-10.767,39.95-10.767,42.217\
                                    									  C146.483,187,153.85,194.367,163.2,194.367z')
                                    span.widget__help
                                        p
                                            | Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми
                                            | я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю,
                                            | словно созданном для таких, как я.
                            a.widget__title-arrow(href='')
                                img.widget__title-arrow-ico(src='img/chevron-down.png', alt='icon')
                        .widget__body
                            .data-table.data-table_h_50
                                table.data-table__cnt
                                    thead
                                        tr.data-table__hr
                                            th.data-table__h.data-table__h-txt_black.data-table__h_w_42
                                                span Целевые показатели
                                            th.data-table__h
                                                span Квартал 3
                                            th.data-table__h
                                                span Квартал 4
                                    tbody
                                        tr.data-table__r
                                            td.data-table__d
                                                span Выручка за акцию
                                            td.data-table__d
                                                span.data-table__plus 14,1$
                                            td.data-table__d
                                                span 10$
                                        tr.data-table__r
                                            td.data-table__d
                                                span Рентабильность капитала
                                            td.data-table__d
                                                span.data-table__plus 23,2$
                                            td.data-table__d
                                                span 19$
                                        tr.data-table__r
                                            td.data-table__d
                                                span Кредитный рейтинг
                                            td.data-table__d
                                                span.data-table__minus B-
                                            td.data-table__d
                                                span BB+
                                        tr.data-table__r
                                            td.data-table__d.data-table__d_last
                                                span Имиджевый рейтинг
                                            td.data-table__d.data-table__d_last
                                                span.data-table__minus 39
                                            td.data-table__d.data-table__d_last
                                                span 42
                            .data-table.data-table_h_50
                                table.data-table__cnt
                                    thead
                                        tr.data-table__hr
                                            th.data-table__h.data-table__h-txt_black.data-table__h_w_42
                                                span Результаты
                                            th.data-table__h.text-center
                                                span Квартал 3
                                            th.data-table__h.text-center
                                                span Квартал 4
                                    tbody
                                        tr.data-table__r
                                            td.data-table__d
                                                span Выручка за акцию
                                            td.data-table__d.text-center
                                                span.data-table__plus 14,1$
                                            td.data-table__d.text-center
                                                span 10$
                                        tr.data-table__r
                                            td.data-table__d
                                                span Рентабильность капитала
                                            td.data-table__d.text-center
                                                span.data-table__plus 23,2$
                                            td.data-table__d.text-center
                                                span 19$
                                        tr.data-table__r
                                            td.data-table__d
                                                span Кредитный рейтинг
                                            td.data-table__d.text-center
                                                span.data-table__minus B-
                                            td.data-table__d.text-center
                                                span BB+
                                        tr.data-table__r
                                            td.data-table__d.data-table__d_last
                                                span Имиджевый рейтинг
                                            td.data-table__d.text-center.data-table__d_last
                                                span.data-table__minus 39
                                            td.data-table__d.text-center.data-table__d_last
                                                span 42
            .content__cols
                .content__col-full
                    .widget.widget_h_a
                        .widget__title
                            .widget__title-cnt
                                span.widget__title-txt Динамика денежных средств
                                sapn.widget__title-h
                                    svg.widget__title-h-img(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 473.733 473.733', style='enable-background:new 0 0 473.733 473.733;', xml:space='preserve')
                                        path(d='M231.2,336.033c-9.35,0-17,7.65-17,17v11.333c0,9.35,7.65,17,17,17s17-7.65,17-17v-11.333\
                                    									  C248.2,343.683,240.55,336.033,231.2,336.033z')
                                        path(d='M236.867,473.733c130.617,0,236.867-106.25,236.867-236.867S367.483,0,236.867,0S0,106.25,0,236.867\
                                    									  S106.25,473.733,236.867,473.733z M236.867,34c111.917,0,202.867,90.95,202.867,202.867s-90.95,202.867-202.867,202.867\
                                    									  S34,348.783,34,236.867S124.95,34,236.867,34z')
                                        path(d='M163.2,194.367C163.483,194.367,163.483,194.367,163.2,194.367c9.35,0,17-7.083,17-16.433c0,0,0.283-13.6,7.083-26.917\
                                    									  c8.5-17,23.517-25.5,45.617-25.5c20.683,0,35.983,5.667,44.483,16.717c7.083,9.067,9.067,21.533,5.667,35.133\
                                    									  c-4.25,16.717-18.7,31.167-32.583,45.333c-17,17.567-34.85,35.417-34.85,59.5c0,9.35,7.65,17,17,17s17-7.65,17-17\
                                    									  c0-10.2,12.183-22.667,25.217-35.7c16.15-16.433,34.567-35.133,41.083-60.633c6.233-23.517,1.983-47.033-11.617-64.317\
                                    									  c-10.483-13.6-31.45-30.033-71.117-30.033c-44.483,0-65.733,23.8-75.933,44.2c-10.2,20.4-10.767,39.95-10.767,42.217\
                                    									  C146.483,187,153.85,194.367,163.2,194.367z')
                                    span.widget__help
                                        p
                                            | Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми
                                            | я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю,
                                            | словно созданном для таких, как я.
                            a.widget__title-arrow(href='')
                                img.widget__title-arrow-ico(src='img/chevron-down.png', alt='icon')
                        .widget__body
                            .data-table.data-table_height_a.data-table_style.data-table_height_a
                                table.data-table__cnt
                                    thead
                                        tr.data-table__hr
                                            th.data-table__h.data-table__h-txt_black.data-table__h_w_28.data-table__big
                                                span Целевые показатели
                                            th.data-table__h
                                                span Квартал 3
                                            th.data-table__h
                                                span Квартал 4
                                            th.data-table__h
                                                span Квартал 4
                                            th.data-table__h
                                                span Квартал 4
                                    tbody
                                        tr.data-table__r
                                            td.data-table__d
                                                span Выручка за акцию
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__plus 14,1$
                                            td.data-table__d.data-table__d_pl
                                                span 10$
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__plus 14,1$
                                            td.data-table__d.data-table__d_pl
                                                span 10$
                                        tr.data-table__r
                                            td.data-table__d
                                                span Рентабильность капитала
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__plus 23,2$
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__up 19$
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__plus 23,2$
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__up 19$
                                        tr.data-table__r
                                            td.data-table__d
                                                span Кредитный рейтинг
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__minus B-
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__down BB+
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__minus B-
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__down BB+
                                        tr.data-table__r
                                            td.data-table__d
                                                span Имиджевый рейтинг
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__minus 39
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__down 42
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__minus 39
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__down 42
                                        tr.data-table__r
                                            td.data-table__d
                                                span Выручка за акцию
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__plus 14,1$
                                            td.data-table__d.data-table__d_pl
                                                span 10$
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__plus 14,1$
                                            td.data-table__d.data-table__d_pl
                                                span 10$
                                        tr.data-table__r
                                            td.data-table__d
                                                span Рентабильность капитала
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__plus 23,2$
                                            td.data-table__d.data-table__d_pl
                                                span 19$
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__plus 23,2$
                                            td.data-table__d.data-table__d_pl
                                                span 19$
                                        tr.data-table__r
                                            td.data-table__d
                                                span Кредитный рейтинг
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__minus B-
                                            td.data-table__d.data-table__d_pl
                                                span BB+
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__minus B-
                                            td.data-table__d.data-table__d_pl
                                                span BB+
                                        tr.data-table__r
                                            td.data-table__d
                                                span Имиджевый рейтинг
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__minus 39
                                            td.data-table__d.data-table__d_pl
                                                span 42
                                            td.data-table__d.data-table__d_pl
                                                span.data-table__minus 39
                                            td.data-table__d.data-table__d_pl
                                                span 42