mixin modal-help()
    .modal.fade.modal-password(id="modal-help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        .modal-dialog.modal-help__dialog(role="document")
            .modal-content.modal-help__conent
                .modal-content__close_btn(data-dismiss="modal" arial-label="Close")
                    .del-circle.del-circle_big
                .modal-help__title Справка
                .modal-help__question
                    .modal-help__question-title
                        span Первый вопрос, как этим пользоваться?
                    .modal-help__question-body Требуется создать 5 слайдов для телевизоров-экранов. На 3 будетпо 6 фоток блюд, которые нужно найти в хорошем качестве. Образцы фоток дам. На остальных 2 слайдах будет текст и картинка, которую дам.  Нужно сделать качественно и аппетитно. Очень аппетитно. Телевизор 32 дюйма. Качество хз, но...
                .modal-help__question
                    .modal-help__question-title
                        span Первый вопрос, как этим пользоваться?
                    .modal-help__question-body Требуется создать 5 слайдов для телевизоров-экранов. На 3 будетпо 6 фоток блюд, которые нужно найти в хорошем качестве. Образцы фоток дам. На остальных 2 слайдах будет текст и картинка, которую дам.  Нужно сделать качественно и аппетитно. Очень аппетитно. Телевизор 32 дюйма. Качество хз, но...
                .modal-help__question
                    .modal-help__question-title
                        span Первый вопрос, как этим пользоваться?
                    .modal-help__question-body Требуется создать 5 слайдов для телевизоров-экранов. На 3 будетпо 6 фоток блюд, которые нужно найти в хорошем качестве. Образцы фоток дам. На остальных 2 слайдах будет текст и картинка, которую дам.  Нужно сделать качественно и аппетитно. Очень аппетитно. Телевизор 32 дюйма. Качество хз, но...
                .modal-help__question
                    .modal-help__question-title
                        span Первый вопрос, как этим пользоваться?
                    .modal-help__question-body Требуется создать 5 слайдов для телевизоров-экранов. На 3 будетпо 6 фоток блюд, которые нужно найти в хорошем качестве. Образцы фоток дам. На остальных 2 слайдах будет текст и картинка, которую дам.  Нужно сделать качественно и аппетитно. Очень аппетитно. Телевизор 32 дюйма. Качество хз, но...
