.modal-password__dialog {
    width: 52% !important;
    min-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
    @media (max-width: 767px) {
       width: 90% !important;
        min-width: 0;
    }
}

.modal-password__conent {
    overflow: hidden;
}

.modal-password__list-container {
    width: 33%;
    float: left;
    padding-top: 71px;
    padding-bottom: 41px;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #f4f7fa;
    @media (max-width: 1600px) {
        padding-top: 40px;
    }

}

.modal-password__form {
    width: 67%;
    float: right;
    padding-top: 24px;
    padding-left: 8%;
    padding-right: 2%;
    overflow: hidden;
    @media (max-width: 1600px) {
        padding-top: 15px;
        padding-right: 8%;
    }

}

.modal-password__list-block {
    padding-bottom: 257px;
    @media (max-width: 1600px) {
        padding-bottom: 170px;
    }
}
.modal-password__logo-img {
    max-width: 100%;
}

.modal-password__list-link {
    color: #000000;
    font-size: 1.76rem;
    font-weight: 400;
    transition: 0.3s;
    border-bottom: 1px dashed transparent;
    &:hover {
        color: #6f6ce6;
        border-bottom: 1px dashed #6f6ce6;
        transition: 0.3s;
    }
    @media (max-width: 1600px) {
        font-size: 1.6rem;
    }
    @media (max-width: 1200px) {
        font-size: 1.4rem;
    }
}

.modal-password__close-button {
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
}

.modal-password__close-button span {
    font-size: 2rem;
}

.modal-password__form-block {
    margin-top: 38px;
    @media (max-width: 1600px) {
        margin-top: 15px;
    }

}

.modal-password__form-title {
    color: #000000;
    font-size: 2.7rem;
    font-weight: 300;
    margin-bottom: 19px;
    @media (max-width: 1600px) {
        font-size: 2.5rem;
    }
    @media (max-width: 1200px) {
        font-size: 2.2rem;
    }
}

.modal-password__form-input {
    display: block;
    width: 100%;
    max-width: 508px;
    border: 1px solid #dde5ee;
    background-color: #ffffff;
    border-radius: 50px;
    line-height: 34px;
    text-align: center;
    color: #3e3e3e;
    font-size: 1.253rem;
    font-weight: 400;
    margin-bottom: 24px;
    @media (max-width: 1600px) {
        line-height: 30px;
        margin-bottom: 10px;
    }
}

.modal-password-btn {
    width: 100%;
    max-width: 506px;
    box-shadow: 0 1px 6px rgba(31, 70, 110, 0.06);
    border-radius: 7px;
    background-color: #60a6f7;
    outline: none;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    font-size: 1.253rem;
    font-weight: 400;
    @media (max-width: 1600px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.modal-password__dialog {
    max-height: 100%;
}