mixin modal-password()
    .modal.fade.modal-password(id="password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
        .modal-dialog.modal-password__dialog(role="document")
            .modal-content.modal-password__conent
                .modal-password__list-container
                    .modal-password__list-block
                        p.modal-password__list-item
                            a.modal-password__list-link(href="#") Вход
                        p.modal-password__list-item
                            a.modal-password__list-link(href="#") Регистрация
                    .modal-password__logo
                        img.modal-password__logo-img(src="img/modal-logo.png")
                .modal-password__form           
                    button.close.modal-password__close-button(data-dismiss="modal" arial-label="Close")
                        span(aria-hidden="true") &times;
                    .modal-password__form-block
                        .modal-password__form-title Напомнить пароль
                        input(type="text" placeholder="Ваш логин").modal-password__form-input
                        button.modal-password-btn(type="button" data-dismiss="modal" arial-label="Close") Выслать пароль    
                