mixin left-nav()
    .left-nav
        each val in ["Пользователи", "Потоки", "Команды", "Ходы", "Новости", "Статистика", "Параметры"]
            .left-nav__item
                .left-nav__title=val
                .left-nav__body