mixin tab-list(arrTab, className, withoutAdd)
	.tab-list
		each item in arrTab
			a(href=item.href, class=item.active + ' ' + className + ' tab-list__link' )=item.name
		if(!withoutAdd)
			button.btn.tab-list__add(type="button")
				span.add-circle
