mixin widget_panel()
	.widgets-panel
		button.btn.add-widgets(type="button")
			.add-widgets__plus
			.add-widgets__txt
				| Виджеты
		button.btn.remove-widgets(type="button")
			.remove-widgets__img
				span
				span
				span
				span
			span Cбросить виджеты
