mixin chat()
    .right-side__container(id="chat")
        .right-side__body
            .right-side__body-inner
                .right-side__body-item.right-side__body-item_type_from-me
                    .right-side__body-image-block.right-side__body-image-block_type_from-me
                        img.right-side__body-image(src="img/chat-image.png" alt="image")
                        .right-side__image-details.right-side__type_from-me
                            .right-side__name Алексей Сергеевич
                            .right-side__date 22.03.17;   19:00
                    .right-side__text-block.right-side__text-block_type_from-me Практика однозначно показывает, что продуктовый ассортимент экономит экспериментальный бизнес-план. 
                    .spacer(style="clear: both;")
                .right-side__body-item.right-side__body-item_type_from-user
                    .right-side__text-block.right-side__text-block_type_from-user Практика однозначно показывает, что продуктовый ассортимент экономит экспериментальный бизнес-план. 
                    .right-side__body-image-block.right-side__body-image-block_type_from-user 
                        .right-side__body-gender М
                        .right-side__image-details.right-side__type_from-user
                            .right-side__name Алексей Сергеевич
                            .right-side__date 22.03.17;   19:00
                    .spacer(style="clear: both;")
                .right-side__body-item.right-side__body-item_type_from-me
                    .right-side__body-image-block.right-side__body-image-block_type_from-me
                        img.right-side__body-image(src="img/chat-image.png" alt="image")
                        .right-side__image-details.right-side__type_from-me
                            .right-side__name Алексей Сергеевич
                            .right-side__date 22.03.17;   19:00
                    .right-side__text-block.right-side__text-block_type_from-me Хорошо
                    .spacer(style="clear: both;")
                .right-side__body-item.right-side__body-item_type_from-user
                    .right-side__text-block.right-side__text-block_type_from-user Практика однозначно показывает, что продуктовый ассортимент экономит экспериментальный бизнес-план. 
                    .right-side__body-image-block.right-side__body-image-block_type_from-user
                        .right-side__body-gender М
                        .right-side__image-details.right-side__type_from-user
                            .right-side__name Алексей Сергеевич
                            .right-side__date 22.03.17;   19:00
                    .spacer(style="clear: both;")
                .right-side__body-item.right-side__body-item_type_from-me
                    .right-side__body-image-block.right-side__body-image-block_type_from-me
                        img.right-side__body-image(src="img/chat-image.png" alt="image")
                        .right-side__image-details.right-side__type_from-me
                            .right-side__name Алексей Сергеевич
                            .right-side__date 22.03.17;   19:00
                    .right-side__text-block.right-side__text-block_type_from-me Практика однозначно показывает, что продуктовый ассортимент экономит экспериментальный бизнес-план. 
                    .spacer(style="clear: both;")
            .right-side__input-block
                .right-side__input-block_inner
                    input(type="text" placeholder="Сообщение").right-side__input
                    a.right-side__btn-push(href="").right-side__btn-push_form_quater
                        img.right-side__push-icon(src="img/push-icon.png")
                    .right-side__search-icon-block    
                        img.right-side__search-icon(src="img/search-icon.png")
        